@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$backColor: darkcyan;
$errorColor: gold;
$color: #fffbf6;
$fontFamily: 'Open Sans', sans-serif;
$createColor: yellowgreen;
$taskBackground: #006060;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.5);
$borderRadius: 0px;
